body {
    font-family: calibri;
    margin:0px;
    padding: 0px;
}
#p3
{
    margin: 2px 0 0 0;
}
.a2:link
{
    text-decoration: none;
    color: #0076a3;
}
.a2:visited
{
    text-decoration: none;
    color: #0076a3;
}
.a2:hover
{
    text-decoration: underline;
    color: #0076a3;
}
.a3:link
{
    text-decoration: none;
    color: #0076a3;
}
.a3:visited
{
    text-decoration: none;
    color: #0076a3;
}
.a3:hover
{
    text-decoration: underline;
    color: #0076a3;
}
#hdiv {
    background-image: url(../images/headerback.png);
    background-repeat: repeat-x;
    height:128px;
    //float: left;
}

#hdv {
    background-color: rgba(0,0,0,0.6);
    height:50px;
}
#hdiv1
{

    margin:0 auto;
    width : 75%;
    height:50px; 

}
.searchdiv{
    background-color: white; height: 20px; margin-top: 15px;margin-left: 4px;
}
.sea{
    border: 0;
}
.sea1{
    height: 16px;
    width: 16px;
}

.newdata{
    float: left;
    margin-left:12.5%;
    color:white;
    font-size: 50px;

}
.datenew
{
    float: left;
    margin-top: 31px;
    margin-left: 15px;
    color: white;
    font-size: 17px;
    font-family: calibri;
}

.section{
    margin:0 auto;
    width : 75%;

}
.section2 {
    margin-top: 25px;
    font-size: 35px;
    color: #0076a3;
}
.section3 {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}
.subsec
{
    margin-top: 5px;
    float: left;
    width : 66%;

}
#subsmall
{
    float: left;
}
.section5 {
    text-align: justify;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    float: left;
    width: 40%;
}
hr
{
    margin-top: 5px;
}
.section4 {
    text-align: left;
    margin-top: 1px;
    font-size: 14px;
    color: black;
}
.subsec2
{

    margin-top: 5px;
    float: right;
    width : 32%;
    margin-left: 2px;
}
.subbsec{
    margin-top: 30px;
    background-color: #e1e1e1;
    height:250px;
}
.mag{
    color: #0076a3;
    font-size: 25px;
    margin: 10px;
}
.mag1{
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border-image-width: 2px;

}
.mag2{
    display: inline;
    text-align: left;
    color: #0076a3;
    font-size: 18px;
}
.mag3 {
    text-align: left;
    //margin-top: 2px;
    font-size: 14px;
}
.newsection2{
    width : 75%;
    margin:0 auto;

}
.newsection2a
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(255,0,0,0.4);
    //height: 100px;
    width: 66%;
}
.newsection2amag1{
    display: inline;
    margin-top: 5px;
    float: left;
    border-image-width: 2px;

}
.newsection2amag2{
    padding: 0px;
    margin-top: 0px;
    display: inline;
    text-align: left;
    color: #0076a3;
    font-size: 22px;
    margin-left: 10px;
}
.newsection2asection4 {
    margin-left: 10px;
    text-align: justify;
    margin-top: 1px;
    font-size: 14px;
    color: black;
}
.newsection2aa
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(255,0,0,0.4);
    height: 100px;
    width: 50%;
}
.newsection2aamag2{
    padding: 0px;
    margin-top: 0px;
    display: inline;
    text-align: left;
    color: #0076a3;
    font-size: 20px;
    //margin-left: 10px;
}
.newsection2aasection4 {
    // margin-left: 10px;
    text-align: justify;
    margin-top: 1px;
    font-size: 15px;
    color: black;
}
.newsection2ab
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(204,204,204,0.4);
    //height: 100px;
    width: 50%;
}
.newsection2ablist
{
    font-size: 16px;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 7px;
    padding: 0;

}
li
{
    margin-bottom: 3px
}
.newsection2aheading {
    margin-top: 10px;
    font-size: 25px;
    color: #0076a3;
}
.newsection2b
{
    margin-top: 10px;
    margin-left: 2%;
    float: left;
    background-color:#e1e1e1;
    height: 690px;
    width: 32%;
}
.newsection2aaamag2{
    padding: 0px;
    margin-top: 0px;
    display: inline;
    text-align: left;
    color: #0076a3;
    font-size: 15px;
    //margin-left: 10px;
}
.newsection2aaa
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(255,0,0,0.4);
    //height: 100px;
    width: 25%;
}
.newsection2aaablist
{
    font-size: 15px;
    list-style-type: none;
    //margin-left: px;
    margin-top: 7px;
    padding: 0;

}
.newsection2aab
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(0,255,0,0.4);
    //height: 100px;
    width: 25%;
}
.newsection2aac
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(0,0,255,0.4);
    //height: 100px;
    width: 25%;
}
.newsection2aad
{
    margin-top: 10px;
    float: left;
    //background-color:rgba(255,0,255,0.4);
    //height: 100px;
    width: 25%;
}
.newsection2aaheading {
    margin-top: 10px;
    font-size: 25px;
    color: #0076a3;
}
.newsection2aada
{
    margin-top: 10px;
    float: left;
    background-color:rgba(255,0,255,0.4);
    height: 100px;
    width: 50%;
    display: inline;
}
.followus
{
    margin-top: 17px;
    float: left;
    background-color:#e1e1e1;
    width: 100%;
    height: 210px;
}
.bbcservice
{
    margin-top: 17px;
    float: left;
    background-color:#e1e1e1;
    width: 100%;
    height: 140px;
}
.videotxt {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
    margin-bottom: 5px;
}
.videotxt h2 {
    display: inline;
}
/*footer css starts*/
.footerc {
    width:75%;
    margin: 0 auto;
    height: 270px;
    //background-color: sandybrown;
}

.footerct {
    width:100%;
    height: 135px;
    //background-color: red;
    //border-bottom: 1px solid rgba(0,0,0,0.6);
}

.footercl {
    width: 64%;
    height: 135px;
    //background-color: greenyellow;
    float:left;
}

.footerct2 {
    width:20%;
    height:80px;
    //background-color: palegreen;
    display: inline;
    float: left;
}
.footerct2 img {
    width: 50px;
    height: 50px;
}

.footerct2 p,a {
    margin: 0px;
    text-decoration: none;
    font-size: 14px;
    color: #1F4F82;
}
.footercr {
    width: 34%;
    height: 135px;
    //background-color: yellow;
    float:right;
}

.footercr1 {
    width:100%;
    height: 40px;
    //background-color: red;
    color: #1F4F82;
    margin-left: 0px;
}
.footercr1 h2 {
    display: inline;
    margin-left: 0px;
}

.footercr2 {
    height: 95px;
    //background-color: blanchedalmond;
}
.footercr2 a {
    text-decoration: none;
    font-size: 14px;
    color: #1F4F82;
}
.footercr2 p {
    margin: 0;
}

.footerb {
    height: 120px;
    width: 100%;
    //background-color: yellow;
    margin-top: 15px;
}

.footerb1 {
    height: 120px;
    width: 35%;
    float: left;
    // background-color: greenyellow;
    margin-right: 15%;
}

.footerb1a {
    font-size: 13px;
    color: #505050;
    margin-top: 25px;
}
.footerb1a a {
    color: #505050;
    text-decoration: none;
    font-size: 13px;
}

.footerb2 {
    height: 120px;
    width: 16.6%;
    float: left;
    //background-color: green;
}

.footerb2 p {
    font-size: 13px; 
    color: #505050;
    margin: 0;
}
.footerb2 a {
    color: #505050;
    text-decoration: none;
    font-size: 13px;
}
/*footer css ends*/


.divisioncontent {
    height: 318px;
    //background-color: yellowgreen;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.divisioncontenttop {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    //background-color: red;
}
.divisioncontenttop h2 {
    display: inline;
}

.divisioncontentasia {
    height: 270px;
    //background-color: yellow;
    margin-top: 12px;
}

.divisioncontentasia1 {
    width: 25%;
    height: 270px;
    //background-color: skyblue;
    float: left;  
}

.divisioncontentasia1 h4 {
    font-size: 18px;
    display: inline;
    color: #1F4F82;
}
.divisioncontentasia1 a {
    font-size: 18px;
    color: #1F4F82;
}

.divisioncontentasia1 img {
    margin-top: 10px;
}

.divisioncontentasia1 p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.divisioncontenttext{
    width: 90%;
    float: left;
    //background-color: yellow;
}

.reportcontent {
    //background-color: red;
    height: 126px;
    margin-top: 10px;
}
.reportcontenttop {
    width:100%;
    height: 35px;
    //background-color: palegreen;
    color: #1F4F82;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.reportcontenttop h2 {
    display: inline;
}

.reportcontenttop a {
    text-decoration: none;
    color: #1F4F82;
    font-size: 16px;
}
.reportcontentl {
    width:50%;
    //background-color: blue;
    float: left;
    height: 85px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.reportcontentlimage {
    width:38%;
    float: left;
    //background-color: black;
    height: 85px;

}
.reportcontentlt {
    width: 62%;
    float: left;
    //background-color: yellow;
    text-align: left;
    height: 85px;
}
.reportcontentlt p {
    display:inine;
    margin: 0;
}
.reportcontentlt a {
    color: #1F4F82;
    font-size: 12px;
}



.divisioncontent2 {
    height: 210px;
    //background-color: yellowgreen;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.divisioncontenttop2 {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.divisioncontenttop2 h2 {
    display: inline;
}

.divisioncontentasia2 {
    height: 210px;
    //background-color: yellow;
    margin-top: 12px;
}

.divisioncontentasia12 {
    width: 25%;
    height: 210px;
    //background-color: skyblue;
    float: left;  
}

.divisioncontentasia12 h4 {
    font-size: 16px;
    display: inline;
    color: #1F4F82;
}
.divisioncontentasia12 a {
    font-size: 16px;
    color: #1F4F82;
}

.divisioncontentasia12 img {
    margin-top: 10px;
}

.divisioncontentasia12 p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.divisioncontenttext2 {
    width: 90%;
    float: left;
    //background-color: yellow;
}


.divisioncontent23 {
    height: 210px;
    //background-color: yellowgreen;
    //border-bottom: 1px solid rgba(0,0,0,0.2);
}

.worldn {
    height: 165px;
    //background-color: palevioletred;
}

.worldnleft {
    width:49%;
    float:left;
}

.worldnright {
    width:49%;
    float:right;
}
.worldnl {

    height: 55px;
    //background-color: paleturquoise;
}

.worldnl h4 {
    font-size: 20px;
    display: inline;
    color: #1F4F82;
}
.worldnlborder {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.worldnl p {
    margin: 5px 0 0 0;
    font-size: 16px;
}
.worldnl a {
    text-decoration: none;
    color: #1F4F82;
}

.picturecontenttop {
    width:100%;
    height: 35px;
    //background-color: palegreen;
    color: #1F4F82;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.picturecontenttop h2 {
    display: inline;
}

.picturecontenttop a {
    text-decoration: none;
    color: #1F4F82;
    font-size: 16px;
}
.picturecontent {
    height: 137px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-bottom: 10px;
}
.picturecontent2 {
    width: 100%;
    height: 126px;
    background-color: #D1700E;
}

.picturecontentsub1 {
    width: 22.3%;
    float: left;
    font-size: 13px;
    //background-color: blue;
    margin-left: 12.5px;
    padding-bottom: 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.picturecontentsub1 a {
    text-decoration: none;
    color: white;
}

.picturecontentsub11 {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 4px;
    margin-right: 4px;
}

.spreport {
    height:171px;
    margin-top: 10px;
    //background-color: paleturquoise;
}

.spreportl {
    height:171px;
    width: 47%;
    float: left;
    //background-color: red;
    border-right: 1px solid white;
}

.spreportr {
    float: right;
    height:171px;
    width: 52.8%;
    //background-color: red;
}

.spreportra {
    height: 85px;
    background-color: #D1700E;

}
.spreportranew {
    float: left;
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    //background-color: yellow;
}
.spreportra h4 {
    display: inline;
    color: white;
    font-size: 16px;
}
.spreportra p {
    color: white;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-size: 12px;
}

.spreportrb {
    height: 85px;
    background-color: #EDEDED;
    border-top: 1px solid white;
}
.spreportrbnew {
    float: left;
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    //background-color: yellow;
}
.spreportrb h4 {
    display: inline;
    color: #505050;
    font-size: 14px;
}
.spreportrb p {
    color: #1F4F82;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-size: 12px;
}
* { margin: 0; outline: none; }
body { background-color: white; }
.c { clear: both; }
#wrapper { margin-top: 10px;  width: 375px; float: left }
.c { clear: both; }
#wrapper2 { margin-top:200px; width: 650px; }
h2 { margin-left: 5px;padding: 0px 0 10px 0; font-size: 35px; line-height: 40px; font-weight: normal; color: #0076a3; text-shadow: 0 1px 3px #222222; }
